<mat-card>
  <mat-card-title>Anwendeverzeichnisse</mat-card-title>

  <mat-card-content>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let verzeichnis of verzeichnisse$ | async; let i = index"
        [attr.data-index]="i">
        <a [routerLink]="['/anwenderverzeichnis', verzeichnis.id]">Verzeichnis {{i + 1}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="anlegen()" color="primary" mat-button>Neues Anwenderverzeichnis anlegen</button>
  </mat-card-actions>
</mat-card>
